In [10]:
# ==========================================================
# Setup de l'environnement pour l'IA
# ==========================================================
from pathlib import Path
import sys
import pandas as pd
from litellm import completion
import plotly.express as px
from pipeline.enricher import GeoEnricher
from pipeline.transformer import DataTransformer


PROJECT_ROOT = Path.cwd()
sys.path.append(str(PROJECT_ROOT))

In [7]:
addresses = [
    "Paris", "Lyon", "Toulouse", "Nice", "Strasbourg",
    "Bordeaux", "Marseille", "Lille", "Nantes", "Montpellier",
    "Rennes", "Dijon", "Grenoble", "Angers", "Nîmes",
    "Tours", "Le Havre", "Saint-Étienne", "Clermont-Ferrand",
    "Reims", "Amiens", "Limoges", "Perpignan", "Metz",
    "Orléans", "Besançon", "Rouen", "Mulhouse", "Caen",
    "Nancy", "Avignon", "Poitiers", "La Rochelle", "Bayonne"
]

In [11]:
# Enrichissement GEO
enricher = GeoEnricher()
enriched_list = enricher.enrich_addresses(addresses)

# Conversion en DataFrame
df = pd.DataFrame([e.dict() for e in enriched_list])
df.head()

Enrichissement GEO: 100%|██████████████████████████████████████████████████████████████| 34/34 [00:43<00:00,  1.28s/it]
C:\Users\l1369\AppData\Local\Temp\ipykernel_15260\2537203426.py:6: PydanticDeprecatedSince20: The `dict` method is deprecated; use `model_dump` instead. Deprecated in Pydantic V2.0 to be removed in V3.0. See Pydantic V2 Migration Guide at https://errors.pydantic.dev/2.12/migration/
  df = pd.DataFrame([e.dict() for e in enriched_list])

,address,latitude,longitude,score,city,postcode,citycode,commune,population,fetched_at
0,Paris,48.859000,2.347000,0.970297,Paris,75001,75056,Paris,2113705,2025-12-17 14:09:43.655527
1,Lyon,45.758000,4.835000,0.963929,Lyon,69001,69123,Lyon,520774,2025-12-17 14:09:44.858447
2,Toulouse,43.604082,1.433805,0.963849,Toulouse,31000,31555,Toulouse,511684,2025-12-17 14:09:47.261208
3,Nice,43.712730,7.250920,0.962171,Nice,06000,06088,Nice,353701,2025-12-17 14:09:48.528382
4,Strasbourg,48.579831,7.761454,0.961295,Strasbourg,67000,67482,Strasbourg,291709,2025-12-17 14:09:50.120546